.team-card {
  height: 100px;
  min-width: 15vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid black;
  background-color: gray;
  display: inline-block;
  color: white;
  text-align: start;
  padding-left: 1px;
}
