#title {
  text-align: center;
}

#add-skill-button {
  display: block;
  width: fit-content;
  margin-bottom: 1ch;
}

#general-input textarea {
  min-width: 250px;
  min-height: 150px;
}
#general-input-form #name-input-label,
#general-input-form #email-input-label,
#general-input-form #phone-input-label,
#general-input-form #location-input-label,
#general-input-form #professional-title-input-label,
#general-input-form #description-input-label {
  display: flex;
  align-items: center;
  margin-bottom: 1ch;
  max-width: 400px;
  justify-content: space-between;
}

#general-input input {
  margin-left: 1ch;
  width: 250px;
}

#skills-input {
  margin-right: 1ch;
}

.required-asterisk {
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
}

input[id^="skill-input"] {
  margin: 1ch 0;
}

#general-input label {
  display: block;
}

#submit-general-button {
  margin-bottom: 1ch;
}
