#professional-output {
  border: 1px solid gray;
  display: grid;
  margin-top: 2ch;
  text-align: center;
}

.professional-item {
  margin: 1ch 5%;
  width: 90%;
  display: grid;
  justify-self: center;
}

.professional-name-date-item {
  display: flex;
  justify-content: space-between;
}

.professional-position {
  font-style: italic;
  text-align: start;
}

.professional-responsibilities-heading {
  font-weight: bold;
  text-align: center;
}

.professional-responsibilities-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.professional-responsibilities-list li {
  text-align: start;
}

#professional-output ul {
  padding: 0;
  display: grid;
  text-align: start;
}

.date-to {
  font-style: italic;
  color: gray;
  font-weight: bold;
}

@media print {
  #professional-output {
    border: none;
  }
  #professional-edit-button {
    display: none;
  }
  .no-profession {
    display: none;
  }
}
